/* ---------- root variables ---------- */

:root {
  --font-body-family: "sans-serif", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  --green: rgb(38, 76, 89);
  --light-green: rgb(199, 208, 209);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --text-color-danger: rgb(152, 58, 58);
  --white: #f1f1f1;
}

body {
  padding: 0 0 0;
  margin: 0 0 0;
  font-family: var(--font-body-family);
  background-color: var(--light-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.6px;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--text-color-dark);
}

.page {
  background-color: var(--light-green);
  display: grid;
  min-height: calc(100vh - 58px - 2em);
  padding: 3em;
  letter-spacing: 0.1px;
  line-height: calc(1 + 0.8);
}

.page > article div a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--text-color-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img {
  height: 600px;
}

/* ---------- nav styling ---------- */
nav {
  background-color: var(--green);
  position: static;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  font-size: 17px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 18px;
  }
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  grid-auto-flow: column;
  gap: 5px;
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-container > article img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* -------homepage styling---------- */
.grid-container > div {
  padding: 15px;
}

.grid-container > div img {
  width: 100%;
  height: auto;
  margin: auto;
}

.grid-container > div h3 a {
  text-decoration: none;
}

.footer {
  background-color: var(--green);
  color: var(--text-color-light);
  text-align: center;
  padding: 1em;
  align-content: inherit;
}

/* ----------about page---------------- */
.about-page {
  display: grid;
  margin: auto;
  padding: 10px;
  margin-top: -15px;
}

/* ----------contact page-------------- */
.contact-page {
  display: grid;
  margin: auto;
}

textarea {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
  font-family: var(--font-body-family);
}

/*------------dashboard styling--------- */
span {
  color: green;
  text-align: left;
}

/* ---------- form styling ---------- */
form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 380px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 1em auto 0;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}
